<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test"> 
    <classes>
      <class name="com.testngpractice.testNGbasics"/>
      <class name="com.testngpractice.testNGbasics2"/>
      <class name="com.testngpractice.GoogleTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
